@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Didact Gothic;
  src: url(/public/font/DidactGothic-Regular.ttf) ;
}
@font-face {
  font-family: Aeonik;
  src: url(/public/font/AeonikTRIAL-Regular.otf);
}